<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>TableSDKSample.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>E82AFB539010FA849D5CC1AD62A68DEEF2BA77A9</string>
				<key>dateExpires</key>
				<string>15/02/2022</string>
				<key>type</key>
				<string>Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E82AFB539010FA849D5CC1AD62A68DEEF2BA77A9</string>
						<key>dateExpires</key>
						<string>15/02/2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>JitsiMeet.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>C8Y75DGU2X</string>
						<key>name</key>
						<string>Dropr C Corp</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E82AFB539010FA849D5CC1AD62A68DEEF2BA77A9</string>
						<key>dateExpires</key>
						<string>15/02/2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>WebRTC.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>C8Y75DGU2X</string>
						<key>name</key>
						<string>Dropr C Corp</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>C8Y75DGU2X.co.table.sample.reactnative</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>beta-reports-active</key>
				<true/>
				<key>com.apple.developer.team-identifier</key>
				<string>C8Y75DGU2X</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>TableSDKSample.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>8f1c023d-d507-4d0b-8515-58da4542823a</string>
				<key>name</key>
				<string>iOS Team Store Provisioning Profile: co.table.sample.reactnative</string>
			</dict>
			<key>symbols</key>
			<true/>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>C8Y75DGU2X</string>
				<key>name</key>
				<string>Dropr C Corp</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
